 body {
    background-color:#ce929d;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
 }

 header {
    background-image: url('imagenes/encabezado.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    
 }


